body {
    background-image:url(images/valentines.webp);

    
}

h2 {
    color: black;
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}


th, td {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: dotted 3px;
    padding: 20px;

}