body {
    background-image:url(images/valentines4.jpg);
    background-position: center;
}

h2 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

p {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    
}

.button-1, .button-2, .button-3{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-size: lato;
    background-color:#b22222;
    color: #fff; 
    display: block;
    margin: 5px 0px;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

   

    
  
  
   

